.navbar{
    display: flex;
    justify-content: space-between;
    padding: 1em;

}

.navbar ul{
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar li{
    margin: 10px;
    font-family: poppins;
}
.navbar a:hover{
    color: rgba(116, 250, 192, 1);
    transition: 0.3s;
}

.navbar a{
    color: aliceblue;
    text-decoration: none;
    transition: 0.3s;
}