.skills{
    background-color: rgba(1, 9, 28, 0.75);
    border-radius: 15px;
    margin: 65px;
    padding: 25px;
    filter: drop-shadow(0px 4px 4px rgba(0,0, 0.25, 0.25));
}

.skills img{
    height: 120px;
    margin: 25px;
    filter: drop-shadow(0px 4px 4px rgba(0,0, 0.25, 0.25));
}
.skills img:hover{
    transform: translateY(-7px);
    transition: 0.4s;
    
}

.skills h1{
    font-size: 45px;
    font-family: inter;
    font-weight: 700;
}

.skills p{
    font-family: inter;
    font-size: 15px;
    font-weight: 400;
}